# macOS
.DS_Store

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/
build/

# Test
*.test
*.out
coverage.txt
coverage.html

# Go workspace
go.work
go.work.sum

# Env
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo
